<a href="https://colab.research.google.com/github/HiruRathnayake/spark_table_manipulation_01/blob/main/spark_table_manipulation_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 56kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 47.2MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=c96b3e6a3290ed2c243268b7e31428908aafe576cb465e5b730df6bfbbad102a
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
drive.mount("/content/gdrive", force_remount=True)

Mounted at /content/gdrive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/gdrive/My Drive/dataset/sales.csv')
df.head(10)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                  date convenience_store  store  ...  btl_price bottle_qty   total
0  2014-11-13 00:00:00               NaN   2635  ...     $17.24          4   68.96
1  2014-11-13 00:00:00               NaN   2635  ...     $17.24         12  206.88
2  2014-11-13 00:00:00               NaN   2635  ...     $17.24         12  206.88
3  2014-11-13 00:00:00               NaN   2635  ...     $25.73          6  154.38
4  2014-11-13 00:00:00               NaN   2635  ...      $7.50          6   45.00
5  2014-11-13 00:00:00               NaN   2635  ...     $17.24         12  206.88
6  2014-11-13 00:00:00               NaN   2635  ...     $12.86         12  154.32
7  2014-11-13 00:00:00               NaN   2635  ...     $13.50          4   54.00
8  2014-11-13 00:00:00               NaN   2635  ...     $27.74         12  332.88
9  2014-11-13 00:00:00               NaN   2635  ...     $21.00         12  252.00

[10 rows x 17 columns]

# New Section

In [ ]:
import pyspark
from pyspark.sql.session import SparkSession
spark = spark.builder.getOrCreate()
path = "/content/gdrive/My Drive/dataset/sales.csv"
df = spark.read.format("csv").option("header","true").option("inferSchema","true").load(path)
df.select("date").show(5)

+-------------------+
|               date|
+-------------------+
|2014-11-13 00:00:00|
|2014-11-13 00:00:00|
|2014-11-13 00:00:00|
|2014-11-13 00:00:00|
|2014-11-13 00:00:00|
+-------------------+
only showing top 5 rows

In [ ]:
df.printSchema()

root
 |-- date: string (nullable = true)
 |-- convenience_store: string (nullable = true)
 |-- store: integer (nullable = true)
 |-- county_number: integer (nullable = true)
 |-- county: string (nullable = true)
 |-- category: integer (nullable = true)
 |-- category_name: string (nullable = true)
 |-- vendor_no: integer (nullable = true)
 |-- vendor: string (nullable = true)
 |-- item: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- pack: integer (nullable = true)
 |-- liter_size: integer (nullable = true)
 |-- state_btl_cost: string (nullable = true)
 |-- btl_price: string (nullable = true)
 |-- bottle_qty: integer (nullable = true)
 |-- total: double (nullable = true)

In [ ]:
df3.createOrReplaceTempView("CastExample")

In [ ]:
df.withColumn("total",df.total*100)

DataFrame[date: string, convenience_store: string, store: int, county_number: int, county: string, category: int, category_name: string, vendor_no: int, vendor: string, item: int, description: string, pack: int, liter_size: int, state_btl_cost: string, btl_price: string, bottle_qty: int, total: double]

In [ ]:
df.select("pack").show(5)

+----+
|pack|
+----+
|  12|
|  12|
|  12|
|   6|
|  24|
+----+
only showing top 5 rows

In [ ]:
df = df.withColumn("pack",(df.pack)/100)
df.select("pack").show(5)

+----+
|pack|
+----+
|12.0|
|12.0|
|12.0|
| 6.0|
|24.0|
+----+
only showing top 5 rows

In [ ]:
df = df.withColumn("convenience_store",(df.convenience_store).cast("Integer"))

In [ ]:
df.printSchema()

root
 |-- date: string (nullable = true)
 |-- convenience_store: integer (nullable = true)
 |-- store: integer (nullable = true)
 |-- county_number: integer (nullable = true)
 |-- county: string (nullable = true)
 |-- category: integer (nullable = true)
 |-- category_name: string (nullable = true)
 |-- vendor_no: integer (nullable = true)
 |-- vendor: string (nullable = true)
 |-- item: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- pack: double (nullable = true)
 |-- liter_size: integer (nullable = true)
 |-- state_btl_cost: string (nullable = true)
 |-- btl_price: string (nullable = true)
 |-- bottle_qty: integer (nullable = true)
 |-- total: double (nullable = true)

In [ ]:
df = df.withColumn('pack_liter_size',df.pack * df.liter_size)
df.printSchema()

root
 |-- date: string (nullable = true)
 |-- convenience_store: integer (nullable = true)
 |-- store: integer (nullable = true)
 |-- county_number: integer (nullable = true)
 |-- county: string (nullable = true)
 |-- category: integer (nullable = true)
 |-- category_name: string (nullable = true)
 |-- vendor_no: integer (nullable = true)
 |-- vendor: string (nullable = true)
 |-- item: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- pack: double (nullable = true)
 |-- liter_size: integer (nullable = true)
 |-- state_btl_cost: string (nullable = true)
 |-- btl_price: string (nullable = true)
 |-- bottle_qty: integer (nullable = true)
 |-- total: double (nullable = true)
 |-- pack_liter_size: double (nullable = true)

In [ ]:
df = df.drop("pack_liter_size")
df.printSchema()

root
 |-- date: string (nullable = true)
 |-- convenience_store: string (nullable = true)
 |-- store: integer (nullable = true)
 |-- county_number: integer (nullable = true)
 |-- county: string (nullable = true)
 |-- category: integer (nullable = true)
 |-- category_name: string (nullable = true)
 |-- vendor_no: integer (nullable = true)
 |-- vendor: string (nullable = true)
 |-- item: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- pack: integer (nullable = true)
 |-- liter_size: integer (nullable = true)
 |-- state_btl_cost: string (nullable = true)
 |-- btl_price: string (nullable = true)
 |-- bottle_qty: integer (nullable = true)
 |-- total: double (nullable = true)

In [ ]:
df = df.withColumnRenamed("liter_size","LiterSize").withColumnRenamed("county_number","CountryNo")
df.printSchema()

root
 |-- date: string (nullable = true)
 |-- convenience_store: string (nullable = true)
 |-- store: integer (nullable = true)
 |-- CountryNo: integer (nullable = true)
 |-- county: string (nullable = true)
 |-- category: integer (nullable = true)
 |-- category_name: string (nullable = true)
 |-- vendor_no: integer (nullable = true)
 |-- vendor: string (nullable = true)
 |-- item: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- pack: integer (nullable = true)
 |-- LiterSize: integer (nullable = true)
 |-- state_btl_cost: string (nullable = true)
 |-- btl_price: string (nullable = true)
 |-- bottle_qty: integer (nullable = true)
 |-- total: double (nullable = true)

In [ ]:
df = df.withColumnRenamed('county_number', 'county_no')
df.printSchema()

root
 |-- date: string (nullable = true)
 |-- convenience_store: string (nullable = true)
 |-- store: integer (nullable = true)
 |-- county_no: integer (nullable = true)
 |-- county: string (nullable = true)
 |-- category: integer (nullable = true)
 |-- category_name: string (nullable = true)
 |-- vendor_no: integer (nullable = true)
 |-- vendor: string (nullable = true)
 |-- item: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- pack: integer (nullable = true)
 |-- liter_size: integer (nullable = true)
 |-- state_btl_cost: string (nullable = true)
 |-- btl_price: string (nullable = true)
 |-- bottle_qty: integer (nullable = true)
 |-- total: double (nullable = true)

In [ ]:
df = df.withColumnRenamed("county_no","CountryNo").withColumnRenamed("liter_size","LiterSize")
df.printSchema()

root
 |-- date: string (nullable = true)
 |-- convenience_store: string (nullable = true)
 |-- store: integer (nullable = true)
 |-- CountryNo: integer (nullable = true)
 |-- county: string (nullable = true)
 |-- category: integer (nullable = true)
 |-- category_name: string (nullable = true)
 |-- vendor_no: integer (nullable = true)
 |-- vendor: string (nullable = true)
 |-- item: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- pack: integer (nullable = true)
 |-- LiterSize: integer (nullable = true)
 |-- state_btl_cost: string (nullable = true)
 |-- btl_price: string (nullable = true)
 |-- bottle_qty: integer (nullable = true)
 |-- total: double (nullable = true)

In [ ]:
#Create DataFrame df1 with columns name,dept & age
import pandas as pd
from pyspark.sql import Row

df1 = spark.createDataFrame([
    Row(name="Janaka", dept="Sales", age=34),
    Row(name="Malaka", dept="Sales", age=30),
    Row(name="Naduni", dept="Sales", age=56),
    Row(name="Sarala", dept="Finance", age=24)
])
df1
df1.printSchema()

root
 |-- name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- age: long (nullable = true)

In [ ]:
#Create DataFrame df2 with columns name,dep,status & salary
df2 = spark.createDataFrame([
    Row(name=" Janaka ", dept="Sales", status="Single", salary=9000),
    Row(name="Sagara", dept="Finance", status =" Single ", salary=7900),
    Row(name=" Sarala", dept="Finance", status ="Married", salary=9000),
    Row(name="Saman", dept="Marketing", status =" Married ", salary=8000)
])
df2
df2.printSchema()

root
 |-- name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- status: string (nullable = true)
 |-- salary: long (nullable = true)

In [ ]:
#Add missing columns 'state' & 'salary' to df1
from pyspark.sql.functions import lit
for column in [column for column in df2.columns if column not in df1.columns]:
    df1 = df1.withColumn(column, lit(None))

#Add missing column 'age' to df2
for column in [column for column in df1.columns if column not in df2.columns]:
    df2 = df2.withColumn(column, lit(None))

In [ ]:
merged_df=df1.unionByName(df2)
merged_df.show()

+--------+---------+----+---------+------+
|    name|     dept| age|   status|salary|
+--------+---------+----+---------+------+
|  Janaka|    Sales|  34|     null|  null|
|  Malaka|    Sales|  30|     null|  null|
|  Naduni|    Sales|  56|     null|  null|
|  Sarala|  Finance|  24|     null|  null|
| Janaka |    Sales|null|   Single|  9000|
|  Sagara|  Finance|null|  Single |  7900|
|  Sarala|  Finance|null|  Married|  9000|
|   Saman|Marketing|null| Married |  8000|
+--------+---------+----+---------+------+

In [ ]:
CREATE OR REPLACE VIEW experienced_employee
    (ID COMMENT 'Unique identification number', Name) 
    COMMENT 'View for experienced employees'
    AS SELECT id, name FROM all_employee
        WHERE working_years > 5;

In [ ]:
split_col = pyspark.sql.functions.split(df['date'], '-')
df = df.withColumn('Year', split_col.getItem(0))
df = df.withColumn('Month', split_col.getItem(1))
df.select("date","Year","Month").show(5)

+-------------------+----+-----+
|               date|Year|Month|
+-------------------+----+-----+
|2014-11-13 00:00:00|2014|   11|
|2014-11-13 00:00:00|2014|   11|
|2014-11-13 00:00:00|2014|   11|
|2014-11-13 00:00:00|2014|   11|
|2014-11-13 00:00:00|2014|   11|
+-------------------+----+-----+
only showing top 5 rows